.result_dailog {
}
.result_dailog_modal {
  width: unset !important;
  .ant-modal-content{
  }
  .ant-modal-body{
  }
  .ant-modal-footer{
    .cancel_btn{
      display: none;
    }
    .ok_btn{
      width: 100px;
    }
  }
  .dailog_excel{
    width: 80vw;
    height: 70vh;
    // min-width: 600px;
    // min-height: 400px;
  }
}
