.filter_page {
  .filter_head {
    height: 48px;
    padding: 0 16px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
      color: #000000d9;
      font-weight: 500;
    }
    &_right{
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
  .mes_show{
    margin-right: 24px;
  }
}
