
.sidebar_page{
  height: 100%;
  width: 200px;
  background: #2b2c2f;
  position: relative;
  .collapse_btn{
    width: 16px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0 4px 0 rgb(0 0 0 / 6%);
    background: #2b2c2f;
    // color: #bec0c8;
    color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
    &:hover{
      color: #fff;
    }
    &.collapsed{
      .anticon{
        transform: rotate(180deg);
      }
    }
  }
  .sidebar_menu{
    background: #2b2c2f;
    margin-top: 16px;
    .ant-menu-item{
    }
    .ant-menu-sub{
      background: #27282a;
    }
  }
}
