.header_page {
  height: 64px;
  width: 100%;
  background: #1e1f22;
  // background: #2b2c2f;
  // background: linear-gradient(90deg, #00c4cc, #7d2ae8);
  display: flex;
  align-items: center;
  .heder_left {
    width: 24px;
    height: 100%;
  }
  .heder_right {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    > button {
      margin-right: 16px;
    }
  }

  .header_filter_wrap {
    margin-left: 175px;
    .header_filter {
      min-width: 500px;
    }
  }
}
