/*
 * @Author: 肖思汗
 * @Date: 2021-01-11 17:52:13
 * @Last Modified by: 肖思汗
 * @Last Modified time: 2021-02-22 16:05:46
 */
// @import "../../index.less";

.excel_dragbox {
  position: relative;
  background-color: white;
  z-index: 1000;
  box-shadow: 0px 8px 16px 0px rgba(0, 9, 123, 0.1);
  border-radius: 6px;

  .close {
    position: absolute;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    right: -40px;
    top: 0px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }

    &:active,
    &.active {
      background: rgba(0, 0, 0, 0.5);
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .title {
    position: relative;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #262B33;
    margin: 24px 32px 0px;
  }

  .body {
    width: 100%;
    height: calc(100% - 60px);
    cursor: default;
  }

  .excel_container {
    position: relative;
    width: calc(100% - 64px);
    height: calc(100% - 90px);
    border: 1px solid #E7E8E9;
    margin: 16px 32px 0px 32px;
    border-radius: 4px;

    :global {
      .x-spreadsheet-bottombar {
        display: none;
      }

      .x-spreadsheet-scrollbar {
        background: none;
        // .scrollbar;

        &.horizontal {
          height: 8px;
          background-color: #ffffff;
          // border: 1px solid #e7e8e9;
          // margin-bottom: -1px;
          scrollbar-width: thin; // 火狐浏览器的滚动条样式
        }

        &.vertical {
          width: 8px;
          background-color: #ffffff;
          // border: 1px solid #e7e8e9;
          // margin-right: -1px;
          scrollbar-width: thin; // 火狐浏览器的滚动条样式
        }

        &::-webkit-scrollbar {
          background-color: rgba(0, 0, 0, 0);
        }

        &::-webkit-scrollbar-thumb {
          background-color: #d9d9d9;
          box-shadow: none;
        }
      }

      .x-spreadsheet-sheet {
        position: relative;

        &:before {
          content: "";
          width: 0px;
          height: 100%;
          left: 60px;
          top: 0px;
          border-left: 1px solid #e7e8e9;
          position: absolute;
        }

        &:after {
          content: "";
          width: 100%;
          height: 0px;
          left: 0px;
          top: 32px;
          border-top: 1px solid #e7e8e9;
          position: absolute;
        }

      }

    }
  }

  .footer {
    position: relative;
    margin: 24px 32px 0px 32px;

    .import_data_btn {
      // width: 100px;
      line-height: 14px;
      word-wrap: break-word;
      vertical-align: middle;
    }

    .row_number {
      color: #414751;
      margin: 0 8px 0px 30px;
    }

    .col_number {
      // .row_number;
    }

    .ok {
      float: right;
      width: 100px;
      line-height: 14px;
      word-wrap: break-word;
    }

  }


}

.resizeIcon {
  pointer-events: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.modify_confirm {
  position: relative;

  :global {
    .ant-modal-confirm-content {
      font-size: 20px;
      font-weight: bold;
      color: #000000;
    }
  }
}

.mark {
  position: absolute;
  width: 100%;
  height: 102vh;
  z-index: 998;
  top: -65px;
  background-color: rgba(0, 0, 0, 0.45);
  ;
}

.questionMarkTip {
  position: relative;


  :global {
    .ant-tooltip-inner {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.75);
      width: 280px;
    }
  }
}
